@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap');


@import url("ccs/components/container.css");
@import url("css/components/avatar.css");
@import url("css/components/button.css");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}